<!-- base_generic.html -->
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% tailwind_css %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/th.js"></script>
    <title>{% block title %}My Tasks{% endblock %}</title>
</head>

<body class="font-prompt">
    {% block content %}
    <div class="container mx-auto">
    </div>

    <div class="messages">
        {% for message in messages %}
            <div class="alert">
                <div class="alert-message">{{ message }}</div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}

</body>
</html>
